.section_main {
    min-height: 80vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    padding: 1rem;
}

.cards_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.special_card {
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_card_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons-col button {
    margin: 1rem auto;

}