.menu_heading {
    text-align: center;
}

.menu_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

@media screen and (max-width: 680px) {
    .menu_div {
        justify-content: center;
    }
}

.card_img {
    height: 15rem !important;
}

.menu_card_item {
    margin: 1rem;
}